<launch>
  <arg name="duration_sec" default="180.0" />
  <arg name="linear_speed" default="0.25" />
  <arg name="lateral_speed" default="0.20" />
  <arg name="turn_speed" default="0.45" />
  <arg name="backup_speed" default="0.08" />
  <arg name="min_front_clearance" default="0.25" />
  <arg name="slow_front_clearance" default="1.05" />
  <arg name="predict_front_clearance" default="1.45" />
  <arg name="side_clearance" default="0.36" />
  <arg name="stop_clearance" default="0.20" />
  <arg name="stuck_timeout" default="2.5" />
  <arg name="scan_timeout" default="1.0" />
  <arg name="command_rate_limit" default="0.12" />
  <arg name="angular_rate_limit" default="0.18" />
  <arg name="obstacle_trigger_clearance" default="0.25" />
  <arg name="free_path_clearance" default="0.68" />
  <arg name="free_path_max_range" default="3.5" />
  <arg name="free_path_angle_range" default="180.0" />
  <arg name="min_gap_span_deg" default="18.0" />
  <arg name="turn_to_gap_tolerance" default="10.0" />
  <arg name="turn_in_place_heading" default="28.0" />
  <arg name="heading_gain" default="1.20" />
  <arg name="cruise_centering_gain" default="0.18" />
  <arg name="omni_enabled" default="true" />
  <arg name="omni_heading_limit" default="180.0" />
  <arg name="omni_min_speed_scale" default="0.35" />
  <arg name="omni_wz_gain" default="0.0" />
  <arg name="keep_heading_wz_limit" default="0.18" />
  <arg name="corridor_lock_sec" default="1.4" />
  <arg name="decision_lock_sec" default="1.1" />
  <arg name="failed_heading_cooldown" default="4.0" />
  <arg name="failed_heading_width" default="28.0" />
  <arg name="map_growth_reward_cells" default="18" />
  <arg name="progress_front_delta" default="0.08" />
  <arg name="end_spin_enabled" default="true" />
  <arg name="end_spin_rotations" default="2.0" />
  <arg name="end_spin_speed" default="0.45" />
  <arg name="save_map" default="true" />
  <arg name="map_path" default="/root/catkin_ws/maps/auto_explore_map" />
  <arg name="start_gmapping" default="false" />
  <arg name="gmapping_startup_delay" default="3.0" />
  <arg name="gmapping_particles" default="25" />
  <arg name="gmapping_xmin" default="-12.0" />
  <arg name="gmapping_ymin" default="-12.0" />
  <arg name="gmapping_xmax" default="12.0" />
  <arg name="gmapping_ymax" default="12.0" />
  <arg name="gmapping_map_update_interval" default="1.5" />
  <arg name="gmapping_linear_update" default="0.15" />
  <arg name="gmapping_angular_update" default="0.15" />
  <arg name="gmapping_temporal_update" default="1.0" />
  <arg name="gmapping_delta" default="0.04" />

  <node pkg="eggy_bringup" type="auto_map_explore.py" name="auto_mapper" output="screen">
    <param name="duration_sec" value="$(arg duration_sec)" />
    <param name="linear_speed" value="$(arg linear_speed)" />
    <param name="lateral_speed" value="$(arg lateral_speed)" />
    <param name="turn_speed" value="$(arg turn_speed)" />
    <param name="backup_speed" value="$(arg backup_speed)" />
    <param name="min_front_clearance" value="$(arg min_front_clearance)" />
    <param name="slow_front_clearance" value="$(arg slow_front_clearance)" />
    <param name="predict_front_clearance" value="$(arg predict_front_clearance)" />
    <param name="side_clearance" value="$(arg side_clearance)" />
    <param name="stop_clearance" value="$(arg stop_clearance)" />
    <param name="stuck_timeout" value="$(arg stuck_timeout)" />
    <param name="scan_timeout" value="$(arg scan_timeout)" />
    <param name="command_rate_limit" value="$(arg command_rate_limit)" />
    <param name="angular_rate_limit" value="$(arg angular_rate_limit)" />
    <param name="obstacle_trigger_clearance" value="$(arg obstacle_trigger_clearance)" />
    <param name="free_path_clearance" value="$(arg free_path_clearance)" />
    <param name="free_path_max_range" value="$(arg free_path_max_range)" />
    <param name="free_path_angle_range" value="$(arg free_path_angle_range)" />
    <param name="min_gap_span_deg" value="$(arg min_gap_span_deg)" />
    <param name="turn_to_gap_tolerance" value="$(arg turn_to_gap_tolerance)" />
    <param name="turn_in_place_heading" value="$(arg turn_in_place_heading)" />
    <param name="heading_gain" value="$(arg heading_gain)" />
    <param name="cruise_centering_gain" value="$(arg cruise_centering_gain)" />
    <param name="omni_enabled" value="$(arg omni_enabled)" />
    <param name="omni_heading_limit" value="$(arg omni_heading_limit)" />
    <param name="omni_min_speed_scale" value="$(arg omni_min_speed_scale)" />
    <param name="omni_wz_gain" value="$(arg omni_wz_gain)" />
    <param name="keep_heading_wz_limit" value="$(arg keep_heading_wz_limit)" />
    <param name="corridor_lock_sec" value="$(arg corridor_lock_sec)" />
    <param name="decision_lock_sec" value="$(arg decision_lock_sec)" />
    <param name="failed_heading_cooldown" value="$(arg failed_heading_cooldown)" />
    <param name="failed_heading_width" value="$(arg failed_heading_width)" />
    <param name="map_growth_reward_cells" value="$(arg map_growth_reward_cells)" />
    <param name="progress_front_delta" value="$(arg progress_front_delta)" />
    <param name="end_spin_enabled" value="$(arg end_spin_enabled)" />
    <param name="end_spin_rotations" value="$(arg end_spin_rotations)" />
    <param name="end_spin_speed" value="$(arg end_spin_speed)" />
    <param name="save_map" value="$(arg save_map)" />
    <param name="map_path" value="$(arg map_path)" />
    <param name="start_gmapping" value="$(arg start_gmapping)" />
    <param name="gmapping_startup_delay" value="$(arg gmapping_startup_delay)" />
    <param name="gmapping_particles" value="$(arg gmapping_particles)" />
    <param name="gmapping_xmin" value="$(arg gmapping_xmin)" />
    <param name="gmapping_ymin" value="$(arg gmapping_ymin)" />
    <param name="gmapping_xmax" value="$(arg gmapping_xmax)" />
    <param name="gmapping_ymax" value="$(arg gmapping_ymax)" />
    <param name="gmapping_map_update_interval" value="$(arg gmapping_map_update_interval)" />
    <param name="gmapping_linear_update" value="$(arg gmapping_linear_update)" />
    <param name="gmapping_angular_update" value="$(arg gmapping_angular_update)" />
    <param name="gmapping_temporal_update" value="$(arg gmapping_temporal_update)" />
    <param name="gmapping_delta" value="$(arg gmapping_delta)" />
  </node>
</launch>
