<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- GMapping + move_base/TEB + explore_lite for the Eggy mecanum base. -->
  <arg name="start_gmapping" default="true" />
  <arg name="start_move_base" default="true" />
  <arg name="start_explore" default="true" />
  <arg name="scan_topic" default="/scan" />

  <include if="$(arg start_gmapping)" file="$(find eggy_bringup)/launch/mapping_light.launch">
    <arg name="scan_topic" value="$(arg scan_topic)" />
  </include>

  <node if="$(arg start_move_base)" name="move_base" pkg="move_base" type="move_base" output="screen">
    <rosparam file="$(find eggy_bringup)/config/nav/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find eggy_bringup)/config/nav/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find eggy_bringup)/config/nav/global_costmap_explore_params.yaml" command="load" />
    <rosparam file="$(find eggy_bringup)/config/nav/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find eggy_bringup)/config/nav/teb_local_planner_params.yaml" command="load" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="10.0" />
    <param name="planner_frequency" value="2.0" />
    <param name="conservative_reset_dist" value="1.0" />
    <param name="clearing_rotation_allowed" value="true" />
  </node>
  
  <node if="$(arg start_explore)" pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
    <param name="robot_base_frame" value="base_link" />
    <param name="costmap_topic" value="move_base/global_costmap/costmap" />
    <param name="costmap_updates_topic" value="move_base/global_costmap/costmap_updates" />
    <param name="visualize" value="true" />
    <param name="planner_frequency" value="1.0" />
    <param name="progress_timeout" value="30.0" />
    <param name="potential_scale" value="2.5" />
    <param name="orientation_scale" value="0.0" />
    <param name="gain_scale" value="1.2" />
    <param name="transform_tolerance" value="0.5" />
    <param name="min_frontier_size" value="0.5" />
  </node>
</launch>
