<launch>
  <arg name="start_route_runner" default="true" />
  <arg name="route_file" default="$(find eggy_bringup)/config/inspection_route.json" />
  <arg name="detection_topic" default="/meter/detection" />
  <arg name="cmd_vel_topic" default="/cmd_vel/mission" />
  <arg name="dry_run" default="false" />

  <node pkg="eggy_bringup" type="inspection_target_aligner.py" name="inspection_target_aligner" output="screen">
    <param name="detection_topic" value="$(arg detection_topic)" />
    <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
    <param name="dry_run" value="$(arg dry_run)" />
    <param name="min_score" value="0.45" />
    <param name="center_tolerance_px" value="35" />
    <param name="size_tolerance_ratio" value="0.18" />
    <param name="search_angular_speed" value="0.22" />
    <param name="max_angular_speed" value="0.28" />
    <param name="max_linear_speed" value="0.08" />
    <param name="pressure_gauge_height_px_at_20cm" value="115" />
    <param name="water_meter_height_px_at_20cm" value="130" />
  </node>

  <group if="$(arg start_route_runner)">
    <node pkg="eggy_bringup" type="inspection_route_runner.py" name="inspection_route_runner" output="screen">
      <param name="route_file" value="$(arg route_file)" />
      <param name="default_frame" value="map" />
      <param name="align_target" value="any" />
      <param name="move_base_timeout" value="120" />
      <param name="align_timeout" value="60" />
    </node>
  </group>
</launch>
