<launch>
  <!-- move_base for static-map navigation: TEB local planner, static_map true -->
  <arg name="controller_frequency" default="12.0" />
  <arg name="planner_frequency" default="1.0" />
  <arg name="cmd_vel_topic" default="/cmd_vel/navigation" />

  <node name="move_base" pkg="move_base" type="move_base" output="screen" respawn="false">
    <rosparam file="$(find eggy_bringup)/config/nav/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find eggy_bringup)/config/nav/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find eggy_bringup)/config/nav/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find eggy_bringup)/config/nav/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find eggy_bringup)/config/nav/teb_local_planner_params.yaml" command="load" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="NavfnROS/default_tolerance" value="0.30" />
    <param name="controller_frequency" value="$(arg controller_frequency)" />
    <param name="planner_frequency" value="$(arg planner_frequency)" />
    <param name="planner_patience" value="8.0" />
    <param name="controller_patience" value="12.0" />
    <param name="conservative_reset_dist" value="1.0" />
    <param name="clearing_rotation_allowed" value="true" />
    <param name="oscillation_timeout" value="12.0" />
    <param name="oscillation_distance" value="0.3" />
    <param name="max_planning_retries" value="4" />

    <rosparam param="global_costmap">
      static_map: true
      rolling_window: false
    </rosparam>

    <rosparam>
recovery_behavior_enabled: true
recovery_behaviors:
  - name: conservative_reset
    type: clear_costmap_recovery/ClearCostmapRecovery
  - name: rotate_recovery
    type: rotate_recovery/RotateRecovery
conservative_reset:
  reset_distance: 1.5
  layer_names: ["obstacle_layer"]
rotate_recovery:
  max_vel_theta: 0.6
  min_in_place_vel_theta: 0.25
  frequency: 10.0
    </rosparam>

    <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />
    <remap from="move_base_simple/goal" to="/nav_goal" />
  </node>
</launch>
