<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Map + AMCL + move_base for saved-map autonomous navigation. -->
  <arg name="map_file" default="/root/catkin_ws/maps/spin_map.yaml" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <node name="amcl" pkg="amcl" type="amcl" output="screen">
    <param name="odom_frame_id" value="odom" />
    <param name="base_frame_id" value="base_link" />
    <param name="global_frame_id" value="map" />
    <param name="use_map_topic" value="true" />
    <param name="odom_model_type" value="omni" />
    <param name="min_particles" value="100" />
    <param name="max_particles" value="500" />
    <param name="update_min_d" value="0.05" />
    <param name="update_min_a" value="0.08" />
    <param name="resample_interval" value="1" />
    <param name="laser_max_range" value="8.0" />
    <param name="laser_min_range" value="0.15" />
    <param name="laser_max_beams" value="60" />
    <param name="transform_tolerance" value="0.35" />
    <param name="initial_pose_x" value="0.0" />
    <param name="initial_pose_y" value="0.0" />
    <param name="initial_pose_a" value="0.0" />
  </node>

  <include file="$(find eggy_bringup)/launch/move_base_only.launch" />
</launch>
